[Unit]
Description=Webradio Service
After=network.target


[Service]
Type=idle

User=pi
ExecStart=/usr/bin/python3 /home/pi/Python/webradio.py

Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
