[Unit]
Description=Webradio Service
After=network.target


[Service]
Type=oneshot

User=pi
ExecStart=/usr/bin/python3 /home/pi/Python/webradio.py

[Install]
WantedBy=multi-user.target
